# Python bytecode and cache
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/

# Environment Variables
.env

# macOS system files
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (optional)
.vscode/

# Model & Log files (if applicable)
*.h5
*.pkl
*.pt
*.sav
*.log
